<% include ../partials/header.ejs %>
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">     
     <h1 style="text-align: center;">Add New Comment For <%= campground.name%></h1>
      <div style="margin: 5% auto; max-width: 30%;">
        <form class="" action="/campgrounds/<%= campground._id%>/comments" method="post">
          <div class="form-group">
            <textarea class="form-control" name="comment[text]" placeholder="Enter campground description here"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="button">Submit</button>
          </div>
        </form>
        <a href="/campgrounds">Go back</a>
      </div>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="footer">
    <% include ../partials/footer.ejs %>
  </div>
  </div>
