<% include ./partials/header %>
<h1>Signup</h1>

<form action="/register" method="POST"><input type="text" placeholder="username" name="username"><input type="password" name="password" placeholder="password">
<button>SUBMIT</button>
</form>
<% include ./partials/footer %>