<% include ../partials/header.ejs %>
  <div class="container">
    <div class="row">
      <h1 style="text-align: center;">Add a new Campground</h1>
      <div style="margin: 5% auto; max-width: 30%;">
        <form class="" action="/campgrounds" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="campground[name]" placeholder="Enter a name" value="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="campground[image]" placeholder="Enter image url" value="">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="campground[description]" placeholder="Enter campground description here"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="button">Submit</button>
          </div>
        </form>
        <a href="/campgrounds">Go back</a>

      </div>
    </div>
  </div>
  <div class="container">
  <div class="footer">
    <% include ../partials/footer.ejs %>
  </div>
  </div>
